a {
    color: white;
    font-size: 18px;
}

body {
    font: Helvetica;
}

h1,
h2,
h3 {
    font-weight: bold;
    text-align: center;
}

.additional-content {
    text-align: center;
}

.banner {
    background-image: url(../resources/images/the-flatiron-building.png);
    color: white;
    text-align: center;
    vertical-align: middle;
}

.banner h1 {
    font-size: 70px;
    padding-bottom: .5px;
}

.banner h2 {
    font-size: 23px;
}

.process {
    text-align: center;
}

.footer {
    background-color: dimgrey;
    color: white;
    font-size: 11px;
    width: 100%;
}
