a {
    color: white;
    font-size: 18px;
    text-align: center;
}

body {
    text-align: center;
    font: Helvetica;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-bottom: 1px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

.banner {
    color: white;
    background-image: url(../resources/images/the-flatiron-building.png);
    vertical-align: middle;
    padding-bottom: 3px;
}

.section-header {
    color: white;
    background-image: url(../resources/images/the-flatiron-building.png);
    height: 40px;
    vertical-align: middle;
}
